@import 'tailwindcss';

@theme {
  --radial-gradient: radial-gradient(
    circle 90vw at 50% 100%,
    black 0% 47%,
    blue 49% 53%,
    black 55%
  );
  --text-h1: clamp(3rem, calc(2.3rem + 4vw), 10rem);
  --text-h3: clamp(1.3rem, calc(1.2rem + 2vw), 8rem);
  --text-h4: clamp(1.5rem, calc(1.4rem + 1vw), 2.2rem);
  --text-span: clamp(0.5rem, calc(0.2rem + 1vw), 3rem);
  --size-icon: clamp(1.5rem, calc(1.4rem + 2vw), 7rem);
  --text-p: clamp(1rem, calc(0.4rem + 1.2vw), 5rem);
  --text-p2: clamp(1.25rem, calc(0.75rem + 1.2vw), 5.3rem);
  --gap-xs: clamp(0.4rem, calc(0.4rem + 0.4vw), 1rem);
  --gap-sm: clamp(1.3rem, calc(0.7rem + 0.8vw), 2rem);
  --gap-md: clamp(2rem, calc(2.5rem + 1vw), 3rem);
  --gap-lg: clamp(3rem, calc(3.5rem + 1.5vw), 4rem);
  --gap-xl: clamp(4rem, calc(4.5rem + 1.5vw), 5rem);
  --gap-2xl: clamp(5rem, calc(5.5rem + 1.5vw), 6rem);
  --gap-3xl: clamp(6rem, calc(7rem + 1.5vw), 8rem);
}
.section-padding {
  padding: clamp(3rem, calc(3.2rem + 3.7vw), 9rem) clamp(0.5rem, 0.613rem + 2vw, 6rem);
}

@font-face {
  font-family: 'Nohemi';
  src:
    url('./assets/fonts/Nohemi-Regular.woff2') format('woff2'),
    url('./assets/fonts/Nohemi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Aeonik';
  src: url('./assets/fonts/Aeonik-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'AeonikBold';
  src: url('./assets/fonts/Aeonik-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./assets/fonts/NeueMontreal-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Geist';
  src:
    url('./assets/fonts/Geist-Regular.woff2') format('woff2'),
    url('./assets/fonts/Geist-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Bricolage';
  src: url('./assets/fonts/BricolageGrotesque-Regular.ttf') format('truetype');
}

@layer utilities {
  .noise:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
    mix-blend-mode: soft-light;
  }
}
